:root {
  --accent: #d64045;
  --primary900: #182b47;
  --primary700: #1d3353;
  --primary500: #547cb8;
  --primary300: #7e99c2;
  --primary100: #d7e6fc;
  --neutral900: #303030;
  --neutral700: #383838;
  --neutral500: #878787;
  --neutral300: #a1a1a1;
  --neutral100: #ebebeb;
}

body {
  --bg: var(--neutral100);
  --text: var(--neutral900);
  --textHeader: var(--primary700);

  background-color: var(--bg);
}

body.dark {
  --bg: var(--primary900);
  --text: var(--neutral300);
  --textHeader: var(--neutral100);

  background-color: var(--bg);
}

html.fullpage,
body.fullpage {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
